#header-area {
  position: relative;
  z-index: 1000000;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 1px 3px -2px #000;
  box-sizing: border-box;
  background-color: #fff;
}
@media screen and (min-width: 769px) {
  #header-area .nav-gnb {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  #header-area .nav-gnb {
    position: relative;
  }
}
#header-area .nav-gnb .nav-container > div {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #header-area .nav-gnb .nav-container > div .nav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
#header-area .nav-gnb .nav-container .logoStyled {
  color: #666;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}
#header-area .nav-gnb .nav-container .nav-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 20px;
  color: #666;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: #666;
  cursor: pointer;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled a {
  display: block;
  height: 40px;
  line-height: 40px;
  position: relative;
  color: inherit;
  text-decoration: none;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: #dab799;
  transition: all 0.3s;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled a:hover::before {
  width: 100%;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled a.active::before {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: #dab799;
  transition: all 0.3s;
}
#header-area .nav-gnb .nav-container .nav-menu li.linkStyled a.active:hover::before {
  width: 75%;
}
#header-area .nav-gnb .nav-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  gap: 25px;
  color: #666;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
#header-area .nav-gnb .nav-user.nav-logined li a {
  color: inherit;
  text-decoration: none;
}
#header-area .nav-gnb .nav-user.nav-logouted li a {
  display: block;
  position: relative;
  height: 45px;
  line-height: 45px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
#header-area .nav-gnb .nav-user.nav-logouted li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: #dab799;
  transition: all 0.3s;
}
#header-area .nav-gnb .nav-user.nav-logouted li a:hover::before {
  width: 100%;
}
#header-area .mobileMenuWrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 95vh;
  padding: 90px 60px;
  box-sizing: border-box;
  background: #1c1c1c;
  transform: translateX(110%);
  transition: all 0.5s;
}
#header-area .mobileMenuWrap.active {
  transform: translateX(0);
}
#header-area .mobileMenuWrap .nav-user {
  justify-content: space-between;
  width: 90%;
  max-width: 200px;
  margin: 0 auto;
  color: #fff;
  font-size: 35px;
}
#header-area .mobileMenuWrap .menuWrap {
  margin-top: 70px;
}
#header-area .mobileMenuWrap .menuWrap .nav-menu {
  flex-direction: column;
}
#header-area .mobileMenuWrap .menuWrap .nav-menu li.linkStyled {
  color: #fff;
}
#header-area .nav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}